*
{
	margin: 0;
	padding: 0;
}


/* navbar section */
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 11; 
}

.navbar
{
	background-image: linear-gradient(to right, #ff9800	,#ff9800 );
	padding:0 !important;
}

.navbar-brand img
{
	height: 40px;
	padding-left: 20px;
}


.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	color: #000 !important;
	font-weight: 600;
	font-size: 20px;
	float: right;
	text-align: left;
}

.fa-bars
{
	color: #000;
	font-size: 30px !important;
}

.navbar-toggler
{
    border: none !important;
    outline: none !important;
}

.center-fit
{
	width: 100%;
}

/* banner section */ 
#banner
{
	background-image: linear-gradient(to right, #ff9800, #ffb84d);
}

.banner-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.banner-img
{
	height: 300px;
}

/* features section */
.features
{
	padding:80px;
}

.features-alt
{
	padding:80px;
	background:#F5F5F5;
}

.contents
{
	padding:40px;
}

.contents-img
{
	width: 100%;
    margin: 0 0 20px 0;
}

.title
{
	margin-bottom: 40px;
}

.title::before
{
	content: '';
	background: #ff9800;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

.title::after
{
	content: '';
	background: #ff9800;
	height: 10px;
	width: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(8px);
}

/* footer section */
#footer
{
    background: #ff9800;
}

#footer p
{
	font-size: 16px;
    font-weight: 600;
}

/* prototype section */
#prototype
{
	position: relative; 
	height: 750px;
	height: calc(100vh - 198px);
	width: 99.5%;
}

/* table section */
table 
{
	width: 100%;
}

td, th 
{
	border: 1px solid #000000;
	padding: 8px 30px;
	width: 50%;
}

tr:nth-child(even) 
{
	background-color: #dddddd;
}

p
{
	text-align: justify;
}