*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

#nav-bar
{
	position: : sticky;
	top: 0;
	z-index: 10

}
.navbar
{
	background-image: linear-gradient(to right, #ff9800	,#ff9800 );
	padding:0 !important;
}

.navbar-brand img
{
	height: 80px;
	padding-left: 20px;
}


.navbar-nav li
{
	padding: 0 30px;
}

.navbar-nav li a
{
	color: #000 !important;
	font-weight: 800;
	font-size: 20;
	float: right;
	text-align: left;
}

.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler
{
	outline: none !important;
}



/*----banner----*/

#banner
{
	background-image: linear-gradient(to right, #ff9800, #ffb84d );
	padding-top: 5%;

}

.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

/*-----features ----*/ 

#features
{
	padding:80px;
	
}

.feature-img
{
	width: 100px;
	margin-top:20px; 	
}

.features
{
	padding:70px;
}

.contents
{
	padding:70px;
	font-size: 20;
}





.title::before
{
	content: '';
	background: #ff9800;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);

}
.title::after
{
	content: '';
	background: #ff9800;
	height: 10px;
	width: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(8px);

}


#offering
{
	padding:80px;
	background:#F5F5F5;
}

#customers
{
	padding:80px;
	background:#F5F5F5;
}


/*----info---*/
.contents
{
	padding:70px;
	font-size: 20;
}



#social-media
{
	background: #ff9800 ;
	padding: 100px;
}

#social-media p
{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}

.footer
{
	padding:20px;
}

