*
{
	margin: 0;
	padding: 0;
}


/* navbar section */
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 11; 
}

.navbar
{
	background-image: linear-gradient(to right, #ff9800	,#ff9800 );
	padding:0 !important;
}

.navbar-brand img
{
	height: 80px;
	padding-left: 20px;
}


.navbar-nav li
{
	padding: 0 30px;
}

.navbar-nav li a
{
	color: #000 !important;
	font-weight: 800;
	font-size: 20px;
	float: right;
	text-align: left;
}

.fa-bars
{
	color: #000;
	font-size: 30px !important;
}

.navbar-toggler
{
    border: none !important;
    outline: none !important;
}

.center-fit
{
	width: 100%;
}

/* banner section */ 
#banner
{
	background-image: linear-gradient(to right, #ff9800, #ffb84d);
}

.banner-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

/* features section */
.features
{
	padding:80px;
}

.features-alt
{
	padding:80px;
	background:#F5F5F5;
}

.contents
{
	padding:40px;
}

.contents-img
{
	height: 100px;
    margin-bottom: 20px;
}

.title::before
{
	content: '';
	background: #ff9800;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

.title::after
{
	content: '';
	background: #ff9800;
	height: 10px;
	width: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(8px);
}

/* footer section */
#footer
{
    background: #ff9800;
}

#footer p
{
	font-size: 16px;
    font-weight: 600;
}

.vertical-center
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* prototype section */
  #prototype
  {
	position: relative; 
	height: 100vh; 
	width: 99.5%;
  }